{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign heading = block.settings.heading
  assign subtext = block.settings.subtext
  assign color_grayscale_style = block.settings.color_grayscale_style
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<article {{ block.shopify_attributes }}>
  <header>
    <h3 class="text-lg font-semibold text-theme-text mb-2">{{ heading }}</h3>
  </header>
  <main class="prose prose-theme">{{ subtext }}</main>
</article>

