{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign image = block.settings.image
  assign height = block.settings.height
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div id="block--{{ block.id }}" {{ block.shopify_attributes }}
     class="max-w-lg"
     style="height: {{ height }}px;">
  {% render '_image', image: image, class: 'grid w-min h-full object-contain', height: height %}
</div>