{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign custom_liquid = block.settings.custom_liquid
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div data-product-block="custom_liquid"
     class="col-span-12" {{ block.shopify_attributes }}>
  {{ custom_liquid }}
</div>