{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign selector = block.settings.selector
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div data-product-block="product_sibling"
     class="col-span-12" {{ block.shopify_attributes }}
     data-block-settings="{{- block.settings | json | escape -}}">

</div>